h1 {
    font-size: 3rem;
}

.outer {
    background-color: #F1E3D3;
    display: flex;
    flex-direction: column;
}

.infoGraphic {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.graphic {
    width: 50rem;
    height: 30rem;
    background-image: url('../img/scrumorg-scrum-framework-3000.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.headLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.rolls,
.sprintReviews {
    border: solid 1rem #99C1B9;
    background-color: #99c1b97b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.backlog,
.kanban {
    border: solid 1rem #D88C9A;
    background-color: #d88c9a82;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.sprintPlanning,
.sprintBacklog,
.scrumArtifacts,
.sprintRetrospective,
.agileEstimation {
    border: solid 1rem #F2D0A9;
    background-color: #f2d0a977;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.sprints {
    border: solid 1rem #8E7DBE;
    background-color: #8e7dbe7c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

.buttonStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    width: 15rem;
    height: 2rem;
    border-radius: 25px;
    background-color: #99C1B9;
}